Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@Candra06 
seasalt-id
/
kai-mobile-app
Private
Code
Issues
3
Pull requests
2
Actions
Projects
Security
Insights
kai-mobile-app/.gitignore
@barakucrut
barakucrut update gitignore file
Latest commit c506af7 on Jul 5
 History
 1 contributor
58 lines (50 sloc)  958 Bytes

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.dart_tool/
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.dart_tool/
build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.vscode/


ios/Podfile
ios/Podfile.lock
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Runner.xcodeproj/project.pbxproj
ios/Runner.xcworkspace/contents.xcworkspacedata
pubspec.lock
.packages
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
windows/runner/resource.h
*.ico
*.manifest
*.rc
*.cpp
*.h
